---
layout: default
---
<head>
  <script type="text/javascript" src="/assets/js/class.js"></script>
</head>

<body>
<div class="row">
<div class="col-sm-6 leftCol">

<h1 id="mainTitle">{{ page.title }}</h1>
<p class="phb">{{ page.desc | markdownify }}</p>

<div id="subDesc" class="sub"></div>

<div class="row">
<div class="col-sm-6">
  
    <h2>Class Features</h2>
    As {{ page.def }}, you gain the following class features

    <h4>Hit Points</h4>
    <ul>
      <li><strong>Hit Dice:</strong> {{ page.HD }} + Constitution modifier</li>
    </ul>

    <h4>Proficiencies</h4>
    <ul>
      <li><strong>Armor:</strong> {{ page.armor }}</li>
      <li><strong>Weapons:</strong> {{ page.weapons }}</li>
      <li><strong>Tools:</strong> {{ page.tools }}</li>
    </ul>
    <ul>
      <li><strong>Saving throws:</strong> {{ page.save }}</li>
      <li><strong>Skills:</strong> {{ page.skills }}</li>
    </ul>

    <h4>Equipment</h4>
    You start with the following equipment, in addition to the equipment granted by your background:  
    {{ page.equipment | markdownify }}

    <h4>Multiclassing</h4>
    <strong>Prerequisites</strong>. To qualify for multiclassing into the {{ page.title }} class, you must meet these prerequisites: {{ page.multi }}<br>
    <strong>Proficiencies</strong>. When you multiclass into the {{ page.title }} class, you gain the following proficiencies: {{ page.multiprof }}
  
</div><div class='col-sm-6'>
  
    <table class='classTable' id='mainTable'>
    <thead><tr>
      <th style="text-align:center">Level</th>
      <th style="text-align:center">Prof<br>Mod</th>
      <th style="text-align:left">Features</th>
    </tr></thead>

    <tbody>

      {% for lvl in (1..20) %}
        <tr id="c{{ lvl }}">
          <td style="text-align:center">{{ site.data.levelData[forloop.index0].order }}</td>
          <td style="text-align:center">+{{ site.data.levelData[forloop.index0].prof }}</td>

          {% assign features = page.level[forloop.index0].features | split: ", " %}

          {% capture featureList %}
            {% for feature in features %}
              {% if feature contains "<>" %}
                {{ feature | strip_html }}
              {% elsif feature contains "<s>" %}
                <span id="fName{{ lvl }}" class="sub">
                  {{ feature | strip_html }}
                </span>
              {% elsif feature contains "<a>" %}
                  <span class="asi" data-lvl="{{ lvl }}">
                  Ability score improvement
                </span>
              {% else %}
                <a href="#{{ feature | remove: " " }}" data-toggle="collapse">{{ feature }}</a>
              {% endif %}
              {% if forloop.last == false %},{% endif %}
            {% endfor %}
          {% endcapture %}
            
          <td style="text-align:left">{{ featureList }}</td>
        </tr>
      {% endfor %}

    </tbody>
    </table>  
  
</div></div>

<button type="button" class="btn btn-default btn-hide pull-right">Hide all</button>
<button type="button" class="btn btn-default btn-show pull-right">Show all features</button>
<hr>
  
{% for feature in page.features %}
  {% if feature.name contains "<s>" %}
    <div id="f{{ feature.lvl }}" class="sub"></div>
  {% elsif feature.name contains "<a>" %}
    <div id="asi{{ feature.lvl }}" class="asiDesc collapse features"></div>
{% else %}
    <div id="{{ feature.name | remove: " " }}" class="collapse features"><h3>{{ feature.name }}</h3>
      {{ feature.desc | markdownify }}
    </div>
  {% endif %}
{% endfor %}
  


<!-- Second (right) part of the page -->

{% assign subs = site.subclass | where: "class", page.title %}
  
</div><div class="col-sm-6">
  <div class="form-group pull-right">
    <label for="archetypeSelection">Class choices</label>
    <select class="form-control" id="archetypeSelection">
      <option value="0">Summary</option>
      <option value="feats">Feats</option>
      {% for sub in subs %}
        <option value="{{ sub.selector }}">{{ sub.name }}</option>
      {% endfor %}
    </select>
  </div>
  
  <!-- This part is shown when class is first selected -->
  <div id="0" class="archetype show"><h2>{{ page.archetype }}</h2>
    This class has the following archetypes:
    {% for sub in subs %}
      <h4>{{ sub.name }}</h4>
      {{ sub.blurb }}
    {% endfor %}
  </div>


  <!-- This part shows all feats -->
  <div id="feats" class="archetype hidden">
    <h2>Feats</h2>
    A feat represents a talent or an area of expertise that gives a character special capabilities. It embodies training, experience, and abilities beyond what a class provides. At certain levels, your class gives you the Ability Score Improvement feature. You can forgo taking that feature to take a feat of your choice instead. You can take each feat only once, unless the feat's description says otherwise.
    <p>
    You must meet any prerequisite specified in a feat to take that feat. If you ever lose a feat's prerequisite, you can't use that feat until you regain the prerequisite.

    <button type="button" class="btn btn-default pull-right" id="deselect" >Deselect all</button>

    <button type="button" class="btn btn-default pull-right" id="applyFeats">Apply</button>

    <table id='featTable' class="table table-bordered" style="width:100%">
      <thead><tr>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
      </tr></thead>
      <tbody>
  
        {% for feat in site.data.feat %}
          <tr id="{{ feat.id }}">
            <td>{{ feat.name }}</td>
            <td>{{ feat.category }}</td>
            <td>
              {% if feat.pre %}
              <strong>Prerequisites:</strong>
              {{ feat.pre }}
            {% endif %}
              {{ feat.desc | markdownify  }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>  
  
    </div>

  <!-- This part shows all archetypes -->
  {% for sub in subs %}
    <div id="{{ sub.selector }}" class="archetype hidden">
      <div id="{{ sub.selector }}Desc">
        <h2>{{ sub.name }}</h2>
        {{ sub.description | markdownify }}
      </div>

      <div class='featureTable pull-right'>
        <table class='classTable '>
        <thead><tr>
          <th style="text-align:center">Level</th>
          <th style="text-align:left">Features</th>
        </tr></thead>
        
        <tbody>
          {% for lvl in sub.level %}
          <tr><td style="text-align:center">{{ lvl.order }}</td>
              {% assign features = lvl.features | split: ", " %}

              {% capture featureList %}
                {% for feature in features %}
                  {% if feature contains "<>" %}
                    {{ feature | strip_html }}
                  {% else %}
                    <a href="#{{ sub.selector }}{{ feature | remove: " " }}" data-toggle="collapse">{{ feature }}</a>
                  {% endif %}
                  {% if forloop.last == false %},{% endif %}
                {% endfor %}
              {% endcapture %}
                
              <td style="text-align:left">
                <span class="{{ sub.selector }}Link" data-lvl="{{ lvl.lvl }}">
                  {{ featureList }} 
                </span>
              </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>

        <button type="button" class="btn btn-default pull-right applySub" id="{{ sub.selector }}">Apply to class</button>

        <button type="button" class="btn btn-default sub-hide pull-right">Hide all</button>
        <button type="button" class="btn btn-default sub-show pull-right">Show archetype features</button>

      </div>
      
      {% for feature in sub.features %}
        <div id="{{ sub.selector }}{{ feature.name | remove: " " }}" class="collapse subFeatures {{ sub.selector }}" data-lvl="{{ feature.lvl }}"><h3>{{ feature.name }}</h3>
          {{ feature.desc | markdownify}}
        </div>
      {% endfor %}
      
    </div>          
  {% endfor %}
  
</div></div>
</body>